h1 Sections create

form.form(ng-submit="submit(form)", name="form")
  .form-group
    label Name
    input.form-control(type="text", autofocus, required, ng-model="section.name")
  .form-group
    label Content
    textarea.form-control(ng-model="section.content")
  .checkbox
    label
      input(type="checkbox", ng-model="section.isPublic")
      | Is public book?
  .form-group
    button.btn.btn-default(type="submit") Submit
