h1 Profile

dl
  dt Name
  dd {{user.name | noEmpty}} &nbsp;
  dt Description
  dd {{user.description | noEmpty}} &nbsp;
  dt Created at
  dd {{user.created_at | date: 'medium'}} &nbsp;
  dt Updated at
  dd {{user.updated_at | date: 'medium'}} &nbsp;

h4 Followers
div.links
  a.link(ng-repeat="follower in user.followers", ui-sref="user({userId: follower.id})") {{follower.name}}
h4 Followings
div.links
  a.link(ng-repeat="following in user.followings", ui-sref="user({userId: following.id})") {{following.name}}

p
  .btn-group
    a.btn.btn-default(ui-sref="profile-edit") Change
  .btn-group
    button.btn.btn-default(ng-click="follow()", ng-if="!user.isFollowed") Follow
    button.btn.btn-default(ng-click="unfollow()", ng-if="user.isFollowed") Unfollow
