doctype html
html(ng-app="app")
  head(lang='en')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title Writer.io
    link(rel='stylesheet', href='css/app.css')
  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Writer.io

        #navbar.navbar-collapse.collapse(ng-if="$root.user")
          ul.nav.navbar-nav
            li
              a(ui-sref="books") Books
          hr.visible-xs
          ul.nav.navbar-nav.navbar-right
            li
              a(ui-sref="profile")
                b {{$root.user.name}}
            li
              a(ui-sref="books-create") Create book
            li
              a(ng-click="logout()") Logout

        #navbar.navbar-collapse.collapse(ng-if="!$root.user")
          ul.nav.navbar-nav
            li
              a About us
            li
              a Contacts
          hr.visible-xs
          ul.nav.navbar-nav.navbar-right
            li
              a(ui-sref="login") Login
            li
              a(ui-sref="register") Sign up

    .container
      div(ncy-breadcrumb)
    .container(ui-view="content")

    script(src="/bower_components/jquery/dist/jquery.js")
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js')

    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/angular-sanitize/angular-sanitize.js")
    script(src="/bower_components/angular-ui-mask/dist/mask.js")
    script(src="/bower_components/angular-ui-router/release/angular-ui-router.js")
    script(src="/bower_components/fastclick/lib/fastclick.js")
    script(src="/bower_components/ngstorage/ngStorage.js")

    script(src="/bower_components/angular-breadcrumb/release/angular-breadcrumb.js")

    script(src='js/modules/writer.js')
    script(src='js/app.js')

    script(src='js/configs/auth.js')

    script(src='js/configs/states.js')
    script(src='js/configs/states/states.login.js')
    script(src='js/configs/states/states.register.js')
    script(src='js/configs/states/states.reset.js')

    script(src='js/configs/states/states.profile.js')
    script(src='js/configs/states/states.books.js')
    script(src='js/configs/states/states.books.sections.js')

    script(src='js/filters/no-empty.js')

    script(src='js/controllers/auth/login-controller.js')
    script(src='js/controllers/auth/reset-controller.js')
    script(src='js/controllers/auth/reset-confirm-controller.js')
    script(src='js/controllers/auth/register-controller.js')

    script(src='js/controllers/library-controller.js')

    script(src='js/controllers/profile/profile-controller.js')
    script(src='js/controllers/profile/profile-edit-controller.js')

    script(src='js/controllers/user-controller.js')
    script(src='js/controllers/books/books-controller.js')
    script(src='js/controllers/books/books-create-controller.js')
    script(src='js/controllers/books/books-details-controller.js')
    script(src='js/controllers/books/books-edit-controller.js')

    script(src='js/controllers/books/sections/sections-create-controller.js')
    script(src='js/controllers/books/sections/sections-details-controller.js')
    script(src='js/controllers/books/sections/sections-edit-controller.js')

    script(src='js/services/auth-service.js')
    script(src='js/services/user.js')

    script(src='js/services/book.js')
    script(src='js/services/book-section.js')

    script(src='js/services/utils.js')
