h3 Books Details

dl
  dt Name
  dd {{book.name}} &nbsp;
  dt Description
  dd {{book.description}} &nbsp;
  dt Image
  dd {{book.image}} &nbsp;
  dt Is Public
  dd {{book.isPublic}} &nbsp;

div
  .btn-group
    a.btn.btn-default(ui-sref="books-edit({booksId: book.id})") Edit
  .btn-group
    a.btn.btn-danger(ng-click="delete()") Delete

h3 Sections
  .pull-right
    a.btn.btn-default(ui-sref="sections-create({bookId: book.id})") Create

div(ng-if="!book.section.length") none sections

ol
  li(ng-repeat="section in book.sections") {{section.name}}
